.list-page{
    padding-bottom: 92px;

    .chapter-index{
        display: flex;
        flex-direction:column;

        li{
            width:100%;
            text-align: center;
            margin-top: 24px;
        }
    }

    .cutline{
        margin-top: 32px;
        margin-bottom: -8px;
    }
}